@font-face{
    font-family: "MontserratB";
    src: url("fonts/Montserrat-Bold.woff") format("woff");
}

@font-face{
    font-family: "MontserratR";
    src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face{
    font-family: "MontserratL";
    src: url("fonts/Montserrat-Light.woff") format("woff");
}

@font-face{
    font-family: "MontserratM";
    src: url("fonts/Montserrat-Medium.woff") format("woff");
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

span{
    color: #2b7ded;
}

body{
    margin: 0;
    
    font-size: 15px;
    line-height: 20px;
    font-family: "MontserratM";
    color: #fff;
}

.page{
    position: relative;
    overflow: hidden;
    
    max-width: 100%;
    height: 100vh;
    
    background: url(img/bg.jpg) center;
    background-size: cover;
}

.page__photo{ 
    position: absolute;
    right: -400px;
    bottom: 0;

}

.container{
    max-width: 1000px;
    
    margin: 0 auto;
    
    padding: 0 15px;
}

/* Header */
.header{
    max-width: 100%;
    height: 60px;
    
    background-color: #2b7ded;
    
    margin-bottom: 110px;
    padding: 15px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100%;
}

.brand{
    font-family: "MontserratB";
    font-size: 24px;
}

.icon{
    display: block;
}

.nav{
    display: flex;
}

.nav__link{
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
    
    transition: color .4s linear;
}

.nav__link:hover{
    color: #c372ff;
}

.nav__link.active{
    position: relative;
}

.nav__link.active::after{
    content: "";
    
    position: absolute;
    left: 0;
    bottom: -7px;
    
    width: 100%;
    height: 2px;
    
    background-color: #fff;
}

.nav__link:last-child{
    margin-right: 0px;
}

/* Content */
.content{
    max-width: 700px;
}

.subtitle{
    font-family: "MontserratL";
    font-size: 21px;
    
    margin-bottom: 20px;
    
    color: rgba(255, 255, 255, .6);
}

.title{
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    margin-bottom: 55px;
}

.title.contacts{
    margin-bottom: 25px;
}

.text{
    font-family: "MontserratR";
    font-weight: 400;
}

/* Footer */
.footer{
    position: absolute;
    width: 100%;
    bottom: 45px;
}

.footer__inner{
    display: flex;
}

.footer__item{
    margin-right: 45px;
}

.footer__icon{
    margin-right: 5px;
}

.footer__text{
    text-decoration: none;
    color: #fff;
    
    font-family: "MontserratM";
}

.footer__text:hover{
    text-decoration: underline;
}

.footer__item:last-child{
    position: relative;
}

.footer__item:last-child::after{
    content: "";
    
    position: absolute;
    top: 50%;
    
    width: 80px;
    height: 2px;
    
    background-color: white;
    
    margin-left: 45px;
}

/* Form */

.form{
    margin-top: 40px;
}

.form__input{
    display: block;
    
    width: 280px;
    height: 40px;
    
    border-radius: 5px;
    
    margin-bottom: 20px;
    padding-left: 15px;
    
    border: 0;
    
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    
    font-family: "MontserratR";
}

.form__input::placeholder{
    color: #fff;
}

.form__input.textarea{
    padding-top: 10px;
    
    height: 100px;
    
    resize: none;
}

/* Button */
.button__block{
    margin-top: 70px;
}

.button{
    padding: 15px 40px;
    
    background-color: #2b7ded;
    
    border-radius: 5px;
    
    text-decoration: none;
    color: #fff;
    
    transition: background .4s linear, color .4s linear;
}

.button:hover{
    background-color: #c372ff;
    color: #000;
}

.button.newsize{
    padding: 10px 0;
    
    width: 280px;
    
    border: 0;
    
    cursor: pointer;
    
    font-family: inherit;
}


@media (max-width: 1000px){
    .page__photo{
        display: none;
    }
    
    .footer__item{
        margin: 0 auto;
    }
    
    .footer__item:last-child::after{
        display: none;
    }
    
        
    .content{
        margin: 0 auto;
        text-align: center;
    }
    
    .form__input{
        margin: 0 auto 20px;
    }
}

@media (max-width: 750px){
    .icon{
        display: none;
    }
    
    .header{
        padding: 21px 0 15px 0;
    }   
}

@media (max-width: 620px){
    .header{
        height: 80px;
    }
    
    .header__inner{
        flex-direction: column;
    }
    
    .nav{
        margin-top: 10px;
    }
}

@media (max-width: 620px){
    .footer__inner{
        flex-direction: column;
    }
    
    .footer__item{
        margin-bottom: 10px;
    }
}




